<div class="container">
  <h2>Change Password</h2>
  <form
    nz-form
    [formGroup]="changePasswordForm"
    class="login-form"
    (ngSubmit)="submit()"
  >
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="oldPassword"
            placeholder="Old Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="newPassword"
            placeholder="New Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button
      nz-button
      [nzType]="'primary'"
      [disabled]="changePasswordStore.isDisabledButton()"
    >
      Change Password
    </button>
  </form>
</div>
