<div class="container">
  <div class="list-role-container">
    <div class="header">
      <h3>Roles</h3>
      <button nz-button nzType="primary" (click)="isVisibleModal = true">
        Create Role
      </button>
    </div>

    <div class="list-role">
      @for (item of authorizeManagementStore.listRole(); track item.id) {
        <div
          class="role"
          [ngClass]="{
            active: authorizeManagementStore.activeRole()?.id === item.id,
          }"
          (click)="authorizeManagementStore.changeRole(item)"
        >
          <span>{{ item.name }}</span>
          <span
            nz-icon
            nzType="delete"
            nzTheme="outline"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this role?"
            (nzOnConfirm)="authorizeManagementStore.deleteRole(item)"
            (click)="$event.stopPropagation()"
          ></span>
        </div>
      }
    </div>
  </div>
  <div class="list-permission-container">
    <div class="header">
      <h3>Permissions</h3>
      <button
        nz-button
        nzType="primary"
        [disabled]="authorizeManagementStore.isDisabledButton()"
        (click)="authorizeManagementStore.updatePermissionForRole()"
      >
        Save
      </button>
    </div>
    <div nz-row [nzGutter]="[16, 16]">
      @for (item of listPermission(); track item.id) {
        <div nz-col nzSpan="6">
          <div class="permission">
            <nz-switch
              [(ngModel)]="item.isActive"
              (ngModelChange)="
                authorizeManagementStore.togglePermission($event, item)
              "
            ></nz-switch>
            <label>{{ item.name }}</label>
          </div>
        </div>
      }
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisibleModal"
  nzTitle="Create Role"
  (nzOnCancel)="closeModal()"
  (nzOnOk)="handleOk()"
  [nzOkDisabled]="authorizeManagementStore.isDisabledButton()"
  [nzCancelDisabled]="authorizeManagementStore.isDisabledButton()"
>
  <ng-container *nzModalContent>
    <div>
      <label for="">Role Name:</label>
      <input type="text" nz-input [(ngModel)]="newRoleName" />
    </div>
  </ng-container>
</nz-modal>
